* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

.container {
    position: relative;
    display: inline-block;
}

.top-section {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.timer {
    background-color: #000000;
    color:#ffffff;
    height: 50px;
    width: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #ffffff;
}

.health {
    position: relative;
    width: 100%;
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
}

.total-health {
    background-color: #2106415e;
    height: 30px;
}

.lost-health {
    background: #7984eb;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.player_health {
    display: flex;
    justify-content: flex-end;
    border-left: 4px solid #ffffff;
}

.player_total-health {
    width: 100%;
}

.player_lost-health {
    width: 100%;
}

.enemy_health {
    border-right: 4px solid #ffffff;
}

.enemy_lost-health {
    left: 0;
}

.label {
    color: #ffffff;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}